@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

$background: #62B84F;

.App {
  text-align: center;
}

html {
  font-size: 62.5%;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
}

body {
  color: #fff;
  background: $background;
  font-size: 1.6rem;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  padding-top: 5rem;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  // margin: 4rem 0 0 0;
}

.header {
  font-family: 'Cardo', serif;
  // font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  margin: 5rem 0 2rem 0;
}

///////////////////////////// LANDING PAGE ///////////////////////////////////

.landingpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.moneytree {
  height: 60vh;
  width: auto;
}

.form {
  background: rgba(255,255,255,.25);
  padding: 3rem;
  border-radius: 2rem;

  p {
    font-size: 1.6rem;
  }
}

em {
  font-family: 'EB Garamond', serif;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

  &::before, &::after {
  content: "§";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	  opacity: 0.2;
    margin: 0 0.6em;
    font-size: 0.5em;
    color: #000;
  }
}

////////////////////////////////// ABOUT /////////////////////////////////////

.about {
  font-size: 2rem;
  text-align: left;
  padding: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: row-reverse;
}

.man {
  margin: 5rem;
  // height: 40vh;
  // width: auto;
}

.credits {
  font-style: italic;
  position: absolute;
  line-height: 2.5rem;
  bottom: 5rem;
  right: 0;
  left: 0;
}
